html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  min-height: 100%;
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*------------------------------------*\
    # Type
\*------------------------------------*/
*, html, body {
  font-size: 16px;
  font-family: "Helvetica", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 36px;
  color: #000000;
  line-height: 1.25em;
  font-weight: 700;
}
h1:first-child, h2:first-child, h3:first-child, h4:first-child, h5:first-child, h6:first-child {
  margin-top: 0;
}

h1 {
  font-size: 2.5rem;
  margin-bottom: 24px;
}

h2 {
  font-size: 1.9230769231rem;
  margin-bottom: 18.4615384615px;
}

h3 {
  font-size: 1.6666666667rem;
  margin-bottom: 16px;
}

h4 {
  font-size: 1.4705882353rem;
  margin-bottom: 14.1176470588px;
}

h5 {
  font-size: 1.3888888889rem;
  margin-bottom: 13.3333333333px;
}

h6 {
  font-size: 1.25rem;
  margin-bottom: 12px;
}

p {
  margin-bottom: 20px;
  font-size: 1.0625rem;
  line-height: 1.5em;
  color: #24272B;
}
p:last-of-type {
  margin-bottom: 0;
}

a {
  color: #ADA4A4;
  transition: all 0.2s ease;
}
a:hover {
  color: #7c6f6f;
  text-decoration: none;
}

ul,
ol {
  margin: 20px 0 0 20px;
}
ul li,
ol li {
  margin-top: 10px;
  line-height: 1.5em;
  color: #24272B;
}
ul ul,
ul ol,
ol ul,
ol ol {
  margin-top: 0;
}

ul li {
  list-style: disc;
}
ul ul li {
  list-style: circle;
}

ol li {
  list-style: decimal;
}

hr {
  height: 1px;
  margin: 32px 0;
  border: none;
  background-color: #24272B;
}

table, td, th {
  border: 1px solid #24272B;
  text-align: left;
}

th {
  font-weight: 900;
}

th, td {
  padding: 15px;
}

figcaption {
  margin-top: 10px;
  color: #3b4047;
  font-size: 16px;
}

pre {
  display: block;
  margin: 0 0 40px 0;
  padding: 20px;
  background-color: #40454c;
  border: 1px solid #24272B;
  overflow: auto;
  border-radius: 3px;
}
pre code {
  position: static;
  padding: 0;
  border: none;
  line-height: 1.5em;
}

code {
  position: relative;
  top: -0.2em;
  padding: 3px;
  font-family: Courier New, Courier, monospace;
  font-size: 0.8854166667rem;
  color: black;
  line-height: 1em;
  pointer-events: none;
  border: 1px solid #24272B;
  border-radius: 3px;
}

em,
i,
.italic {
  font-style: italic;
}

strong,
b,
.bold {
  font-weight: 900;
}

/*# sourceMappingURL=style.css.map */
