@import './colors.sass', './typography.sass';

/*------------------------------------*\
    # Type
\*------------------------------------*/
/*

*/
// Make type normal across browsers
*,
html,
body {
  background-color: lighten($accent--light, 32%);
  font-family: $lato;
  font-size: $base-font-size;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

// Headers
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $proza-libre;
  margin-top: $header-margin * 1.5;
  color: $header-color;
  line-height: $header-line-height;
  font-weight: 700;
}

h1 {
  font-size: $header-size;
  margin: 0.67em 0;
}

h2 {
  font-size: $header-size / 1.3;
  margin-bottom: $header-margin / 1.3;
}

h3 {
  font-size: $header-size / 1.5;
  margin-bottom: $header-margin / 1.5;
}

h4 {
  font-size: $header-size / 1.7;
  margin-bottom: $header-margin / 1.7;
}

h5 {
  font-size: $header-size / 1.8;
  margin-bottom: $header-margin / 1.8;
}

h6 {
  font-size: $header-size / 2;
  margin-bottom: $header-margin / 2;
}

// Paragraphs
p {
  margin-bottom: $paragraph-margin;
  font-size: $paragraph-size;
  line-height: $paragraph-line-height;
  color: $paragraph-color;
}

// Links
a {
  color: $link-color;
  text-decoration: none;
  &:hover {
    transition: all 0.2s ease;
    color: darken($link-color, 20%);
  }
}

// Lists
ul,
ol {
  margin: $paragraph-margin 0 0 20px;

  li {
    margin-top: 10px;
    line-height: $paragraph-line-height;
    color: $paragraph-color;
  }

  ul,
  ol {
    margin-top: 0;
  }
}

ul {
  li {
    list-style: disc;
  }

  ul {
    li {
      list-style: circle;
    }
  }
}

ol {
  li {
    list-style: decimal;
  }
}

// hr
hr {
  height: 1px;
  margin: $hr-margin 0;
  border: none;
  background-color: $border-color;
}

table,
td,
th {
  border: 1px solid $border-color;
  text-align: left;
}

th {
  font-weight: $font-weight-bold;
}

th,
td {
  padding: 15px;
}

figcaption {
  margin-top: 10px;
  color: lighten($paragraph-color, 10%);
  font-size: $paragraph-margin * 0.8;
}

// Code
pre {
  display: block;
  margin: 0 0 40px 0;
  padding: 20px;
  background-color: lighten($border-color, 12%);
  border: 1px solid $border-color;
  overflow: auto;
  border-radius: 3px;

  code {
    position: static;
    padding: 0;
    border: none;
    line-height: 1.5em;
  }
}

code {
  position: relative;
  top: -0.2em;
  padding: 3px;
  font-family: Courier New, Courier, monospace;
  font-size: $paragraph-size / 1.2;
  color: darken($border-color, 70%);
  line-height: 1em;
  pointer-events: none;
  border: 1px solid $border-color;
  border-radius: 3px;
}

// Misc Styles
em,
i,
.italic {
  font-style: italic;
}

strong,
b,
.bold {
  font-weight: $font-weight-bold;
}
footer {
  position: static;
  z-index: 1;
  display: flex;
  width: 100%;
  max-width: none;
  justify-content: center;
  align-items: center;
  background-color: transparent;
}
/*------------------------------------*\
    # Utilities
\*------------------------------------*/
.w-row:before {
  display: table;
  content: ' ';
  grid-column-start: 1;
  grid-row-start: 1;
  grid-column-end: 2;
  grid-row-end: 2;
}
.w-row:after {
  display: table;
  content: ' ';
  grid-column-start: 1;
  grid-row-start: 1;
  grid-column-end: 2;
  grid-row-end: 2;
  clear: both;
}
.w-col {
  position: relative;
  float: left;
  width: 100%;
  min-height: 1px;
  padding-left: 10px;
  padding-right: 10px;
}
.w-col {
  width: 50%;
}
.w-empty {
  padding: 10px;
  background-color: #ddd;
}
/*------------------------------------*\
    # Navigation
\*------------------------------------*/

nav {
  position: fixed;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: lighten($accent--light, 32%);
}

.imagebreak,
nav {
  width: 100%;
  max-width: none;
}

.nav-container {
  display: flex;
  width: 1470px;
  height: 88px;
  justify-content: center;
  align-items: center;
}
.nav-columns {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-self: center;
}

.nav-column--logo {
  display: flex;
  padding-right: 0;
  padding-left: 0;
  justify-content: flex-start;
  align-items: center;
  text-align: left;
}

.text-p2 {
  margin-top: -12px;
  margin-bottom: -12px;
  font-size: 1.3rem;
  font-weight: 400;
  text-decoration: none;
}

.nav-column--links {
  display: flex;
  padding-right: 0;
  padding-left: 0;
  justify-content: flex-end;
  align-items: center;
  text-align: right;
}

.nav-link {
  margin-top: -6px;
  margin-bottom: -6px;
  margin-left: 32px;
  padding: 0; // overrides bootstrap 4 padding
  // for class of same title
}

.footer-link,
.nav-link,
.text-p3 {
  font-size: 17px;
  line-height: 24px;
  font-weight: 400;
}
.nav-container,
.section-container,
.section-container--hero {
  margin-left: 64px;
  margin-right: 64px;
}
.text-p3 {
  margin-top: -12px;
  margin-bottom: -12px;
  text-decoration: none;
  background: transparent;
}
.grid-container--footer .text-p3 {
  text-decoration: none;
}
.grid-container--footer {
  width: 100%;
  justify-content: center;
  justify-items: stretch;
  align-items: center;
  align-content: center;
  grid-column-gap: 0;
  grid-row-gap: 0;
  grid-template-columns: 1fr 1fr;
}

/*------------------------------------*\
    # Section 
\*------------------------------------*/
.grid-layout {
  display: grid;
  grid-auto-columns: 1fr;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;
  grid-row-gap: 16px;
  grid-column-gap: 16px;
}

.section {
  display: flex;
  width: 100%;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
}

.section-container {
  display: flex;
  width: 1470px;
  max-width: 1470px;
  padding-top: 256px;
  padding-bottom: 256px;
  justify-content: flex-start;
  align-items: flex-start;
}
.grid-container--content {
  width: 100%;
  justify-content: center;
  justify-items: start;
  align-items: start;
  align-content: center;
  grid-column-gap: 32px;
  grid-row-gap: 0;
  grid-template-columns: 1fr 2fr;
}
.grid-block--title {
  display: flex;
  grid-column-start: 1;
  grid-row-start: 1;
  grid-column-end: 2;
  grid-row-end: 2;
}
.grid-block--content {
  max-width: 640px;
  grid-column-start: 2;
  grid-row-start: 1;
  grid-column-end: 3;
  grid-row-end: 2;
}
.text-p2.service-white {
  color: #fff;
}
.footer-container {
  display: flex;
  width: 1470px;
  height: 96px;
  margin-left: 64px;
  margin-right: 64px;
  justify-content: center;
  align-items: center;
}
/*------------------------------------*\
    # Section Photo Sets
\*------------------------------------*/

.image-columns {
  display: flex;
  width: 100%;
  margin-left: 0;
  padding-left: 64px;
  justify-content: space-between;
  align-items: center;
}
.image-column--large {
  display: flex;
  padding-right: 0;
  padding-left: 0;
  justify-content: flex-start;
  align-items: center;
}
.image-column--small {
  display: flex;
  padding-right: 10%;
  padding-left: 10%;
  justify-content: center;
  align-items: center;
}

img {
  border: 0;
  max-width: 100%;
  vertical-align: middle;
  display: inline-block;
}
.photo-gallery {
  width: 100%;
  max-width: none;
  background-color: lighten($accent--light, 10%);
}
.photo-gallery.middle {
  width: 50%;
  margin-top: 176px;
  margin-bottom: 176px;
}
.image-columns.right {
  margin-right: 0;
  margin-left: 0;
  padding-right: 64px;
  padding-left: 0;
}
.event-collectionList--wrapper {
  margin-top: 32px;
  margin-bottom: 32px;
}
.event-empty {
  display: none;
}
.event-empty.first {
  display: block;
  margin-bottom: -32px;
  padding: 36px 32px;
  background-color: $accent--light;
}
.event-collectionList--wrapper.alt {
  margin-right: -32px;
  margin-right: 32px;
}

.event-collectionList--wrapper.alt.bottom {
  margin-bottom: 64px;
}

.event-link {
  color: $paragraph-color;
  text-decoration: underline;
}
.section.services {
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.services-container {
  display: flex;
  width: 72%;
  margin-top: 256px;
  margin-bottom: 256px;
  margin-left: 64px;
  padding: 104px 112px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  background-color: lighten($secondary, 40%);
}

.services-columns {
  background-color: lighten($secondary, 40%);
  max-width: 640px;
  margin-top: 32px;
}

.service-column {
  background-color: lighten($secondary, 40%);
  padding-right: 0;
  padding-left: 0;
}
.services-item--container {
  background-color: lighten($secondary, 40%);
  display: flex;
  margin-top: 8px;
  margin-bottom: 40px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: nowrap;
  align-items: center;
}
.services-item--container.bottom {
  margin-bottom: 0;
}
.section-container.footer-bottom {
  padding-bottom: 72px;
}
/*------------------------------------*\
    # Hero
\*------------------------------------*/
.section-hero {
  position: relative;
  display: flex;
  height: 100vh;
  justify-content: center;
  flex-wrap: wrap;
  align-items: stretch;
}

.section-container--hero {
  display: flex;
  max-width: 1470px;
  margin-top: 208px;
  justify-content: center;
  align-items: center;
}

.grid-container--content,
.grid-container--footer,
.grid-container--hero {
  grid-template-rows: auto;
}

.grid-container--hero {
  justify-content: center;
  justify-items: start;
  align-items: center;
  align-content: center;
  grid-column-gap: 0;
  grid-row-gap: 0;
  grid-template-columns: 1fr 1fr;
}

.grid-block--hero {
  margin-right: 80px;
}

.grid-span {
  grid-column-start: 1;
  grid-row-start: 1;
  grid-column-end: 2;
  grid-row-end: 2;
}

.text-h1,
.text-h2 {
  margin-top: -16px;
  margin-bottom: -16px;
  font-size: 2.2rem;
  line-height: 56px;
  font-weight: 400;
  text-decoration: none;
  background: transparent;
}

.text-h2.white {
  background: transparent;
  color: #fff;
}

.text-h2.white.bold {
  font-weight: 500;
}

.text-h1 {
  margin-top: -18px;
  margin-bottom: -18px;
  font-size: 47px;
  line-height: 72px;
}

// Hero Arrow
.hero-arrow--section {
  position: relative;
  left: 0;
  top: auto;
  right: auto;
  bottom: 0;
  display: flex;
  width: 1470px;
  max-width: 1470px;
  margin-right: 64px;
  margin-bottom: 48px;
  margin-left: 64px;
}

.hero-arrow--link-block {
  position: absolute;
  left: 0;
  top: auto;
  right: auto;
  bottom: 0;
  max-width: 100%;
  display: inline-block;
}

img {
  border: 0;
  max-width: 100%;
  vertical-align: middle;
  display: inline-block;
}

.hero-image--wrapper {
  position: absolute;
  left: auto;
  top: 0;
  right: 0;
  bottom: 0;
  width: 50vw;
  height: 100%;
}

.hero-image--container {
  position: static;
  left: auto;
  right: 0;
  display: block;
  width: 100%;
  height: 100%;
  margin-bottom: 88px;
  border-top: 88px solid lighten($accent--light, $amount: 32%);
  border-bottom: 88px solid lighten($accent--light, $amount: 32%);
  background: no-repeat;
  background-size: auto;
  background-image: url(./SVG/hero.jpg);
}

.mobile-hero--image {
  display: none;
}
.services-icon--container {
  display: flex;
  width: 24px;
  height: 24px;
  margin-right: 20px;
  justify-content: center;
  align-items: center;
}
.grid-block--footer-left {
  display: flex;
  align-items: center;
  text-align: left;
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;
  align-self: center;
  justify-self: start;
}
.grid-block--footer-right {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  text-align: right;
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
  justify-self: end;
  align-self: start;
}
.footer-link {
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 32px;
  transition: all 0.2s ease-in-out;
}
/*------------------------------------*\
    # Responsive Styles
\*------------------------------------*/
@media (max-width: 991px) {
  .nav-container,
  .footer-container {
    margin-right: 48px;
    margin-left: 48px;
  }
  .section-hero {
    position: static;
    height: auto;
    padding-top: 248px;
    padding-bottom: 216px;
    align-items: center;
  }
  .section-container--hero {
    margin-top: 0;
    margin-right: 48px;
    margin-left: 48px;
  }
  .grid-container--hero {
    grid-template-columns: 1fr 0.25fr;
  }
  .grid-block--hero {
    margin-right: 0;
  }
  .hero-arrow--section {
    display: none;
    margin-right: 48px;
    margin-left: 48px;
  }
  .hero-image--wrapper {
    position: static;
    left: 0;
    top: 0;
    right: 0;
    bottom: auto;
    display: none;
    width: 100vw;
    height: 50%;
  }
  .mobile-hero--image {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
  }
  .section-container {
    width: auto;
    margin-left: 48px;
    padding-top: 216px;
    padding-bottom: 216px;
  }
  .section.image-breaker,
  .section-container {
    margin-right: 48px;
  }
  .grid-container--content {
    grid-auto-columns: 0.25fr;
    grid-column-gap: 0;
    grid-row-gap: 0;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
  }
  .grid-block--content {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
    margin-top: 80px;
  }
  .image-columns {
    padding-left: 48px;
  }
  .image-columns.right {
    padding-right: 48px;
  }
  .services-container {
    width: 100%;
    margin-top: 216px;
    margin-bottom: 216px;
    margin-left: 48px;
    padding: 96px 104px;
  }
}

@media (max-width: 767px) {
  .nav-container {
    height: auto;
    margin-right: 40px;
    margin-left: 40px;
    padding-top: 36px;
    padding-bottom: 36px;
  }

  .nav-columns {
    flex-direction: column;
  }

  .nav-column--logo {
    margin-bottom: 20px;
  }
  .text-p2 {
    font-size: 1.1rem;
    line-height: 36px;
    background: transparent;
  }
  .nav-column--links {
    justify-content: flex-start;
    text-align: left;
  }
  .nav-link {
    margin-right: 32px;
    margin-left: 0;
  }
  .section-hero {
    padding-top: 164px;
    padding-bottom: 140px;
  }
  .section-container,
  .section-container--hero {
    margin-right: 40px;
    margin-left: 40px;
  }
  .grid-container--hero,
  .grid-container--footer {
    grid-template-columns: 1fr;
  }
  .text-h1 {
    font-size: 37px;
    line-height: 56px;
  }
  .hero-arrow--section {
    margin-right: 40px;
    margin-left: 40px;
  }
  .section-container {
    padding-top: 180px;
    padding-bottom: 180px;
  }
  .grid-block--content {
    margin-top: 70px;
  }
  .image-columns {
    padding-left: 40px;
  }
  .image-columns.right {
    padding-right: 40px;
  }
  .photo_gallery.middle {
    margin-top: 98px;
    margin-bottom: 98px;
  }
  .services-container {
    margin-top: 180px;
    margin-bottom: 180px;
    margin-left: 40px;
    padding: 64px;
  }
  .service-column.first {
    margin-top: 16px;
    padding-bottom: 32px;
  }
  .footer-container {
    height: auto;
    margin-right: 40px;
    margin-left: 40px;
    padding-top: 40px;
    padding-bottom: 50px;
  }
  .grid-container--footer {
    grid-template-rows: 1fr;
  }
  .grid-block--footer-left {
    margin-bottom: 32px;
  }
  .grid-block--footer-right {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
    justify-self: start;
  }
  .footer-link {
    margin-right: 32px;
    margin-left: 0;
  }
  .w-row {
    margin-left: 0;
    margin-right: 0;
  }
  .w-col {
    width: 100%;
    left: auto;
    right: auto;
  }
}

@media (max-width: 479px) {
  .nav-container {
    padding-top: 24px;
    padding-bottom: 24px;
  }
  .nav-container,
  .section-container {
    margin-right: 32px;
    margin-left: 32px;
  }
  .nav-column--links {
    justify-content: flex-start;
    flex-wrap: wrap;
  }
  .section-hero {
    padding-bottom: 130px;
  }
  .section-container--hero {
    margin-right: 32px;
    margin-left: 32px;
  }
  .image-columns,
  .image-columns.right {
    padding-left: 32px;
    padding-right: 32px;
    -webkit-box-orient: vertical;
  }
  .image-columns.right {
    margin-top: 80px;
    flex-direction: column-reverse;
  }
  .image-columns {
    -webkit-box-direction: normal;
    flex-direction: column;
    flex-wrap: wrap;
  }
  .photo-gallery.middle {
    display: none;
    width: 100%;
    margin-top: 80px;
    margin-bottom: 80px;
    padding-right: 32px;
    padding-left: 32px;
  }
  .image-column--large {
    margin-bottom: 80px;
    -webkit-box-pack: center;
    justify-content: center;
  }
  .image-column--small {
    padding-right: 12%;
    padding-left: 12%;
  }
  .event-collectionList--wrapper {
    margin-top: 32px;
    margin-bottom: 32px;
  }
  .text-p3 {
    background: transparent;
    font-size: 15px;
  }
  .services-container {
    margin-left: 0;
    padding-right: 32px;
    padding-left: 32px;
  }
  .service-column.first {
    padding-bottom: 16px;
  }
  .services-item--container {
    margin-bottom: 24px;
  }

  .text-p2.service-white {
    font-size: 18px;
    line-height: 56px;
  }
  .footer-container {
    margin-right: 32px;
    margin-left: 32px;
  }
  .footer-link {
    font-size: 15px;
  }
  .w-col {
    width: 100%;
  }
}

/// Dead Styles
.text-accent {
  color: $accent--light;
}
